/* Add CSS Styling */

.odd{
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.size{
    font-size: 24px;
}

#number-2{
    font-size: 36px;
    color: blue;
}

#number-4{
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}