/* Add CSS Styling */

/* First approach, using the class chain descendent */
.container .text{
    font-size: 20px;
    background-color: yellow;
    color: red;
    text-align: center;
}

/* Second approach, using the elements descendent */
div p{
    font-size: 20px;
    background-color: yellow;
    color: red;
    text-align: center;
}